<% if commentable.comments.empty? %>
  <p><%= t('comments.empty') %></p>
<% else %>
<table>
  <thead>
    <tr>
      <th><%= Comment.human_attribute_name(:user) %></th>
      <th><%= Comment.human_attribute_name(:content) %></th>
      <th><%= Comment.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% commentable.comments.each do |comment| %>
    <tr>
      <td><%= User.find(comment.user_id).name == "" ? User.find(comment.user_id).email : User.find(comment.user_id).name %></td>
      <td><%= comment.content %></td>
      <td><%= l comment.created_at %></td>
      <td><%= link_to t('views.common.edit'), polymorphic_url([:edit, commentable, comment]) %></td>
      <td><%= link_to t('views.common.destroy'), polymorphic_url([commentable, comment]), method: :delete, data: { confirm: t('views.common.delete_confirm') }%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% end %>
